
/*Styling for the GoldcliffSeaWall page*/
body {
  background-color: #f6f6f6
}

#containerC{
  display: flex;
  padding: 5px;
}

#a {
  flex: 4;
  color: white;
  background-color: #2c2f33;
  text-align: center;
}

.InfoC{
  padding: 10px;
  style: none;
  width: 800px;
  font-size: 20px;
  line-height: 30px;


}

#footer{
  display: flex;
  justify-content: center;
  text-align: center
}


}
#hometitle{
  text-align: center;

}
#InfoWhiston {
  margin-left: auto;
  margin-right: auto;
}
td {
  text-align: center;
  font-size: 20px;
  padding: 5px;
  border-style: solid;
  border-color: red;
  border-width: 3px;
}

/*Styling Location*/
.titlep3{
  width: 100%;
  text-align: center;
}

.LinkstoCheckpoints{
  flex: 2;
  text-align: center;
  padding-right: 10px;
}

.LinkstoCheckpoints li{
list-style: none;
margin-top: 4px;
}
#Map{
  flex: 4;
}

#Container{
  display: flex;
}
/*End Styling Page 3*/

/*Styling for Page1*/
.container1{
  display: flex;
  background-color: #AFEEEE;
  padding: 5px;
  }
.container2{
  display: flex;
  background-color: #66BB046A;
  padding: 5px;
  }
.container3{
  display: flex;
  background-color: coral;
  padding: 5px;
}
.flexbox-map-1, .flexbox-map-2, .flexbox-map-3 {
  min-height: 100px;
  width: 410px;
  margin: 10px;
  border: 3px solid black;
  background-color: #d5f3fe;
}
.flexbox-text-1, .flexbox-text-2, .flexbox-text-3  {
  min-height: 100px;
  width: 400px;
  padding: 5px;
  margin: 5px;
}
#googleMap_hard,#googleMap_medium,#googleMap_easy{
    width: 400px;
    height: 300px;
}
/*End Styling for Page1*/


/*styling of map image on location page */

/*Style for Checkpoints */
.info{
  padding: 5px;
  border: 5px solid black;
  background-color: #F5FFFF;
}
#TitleCheckpoint{
  width: 100%;
  height: 70px;
  background-color: #004225;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: white;
  text-shadow: 4px 4px black;
}

.BlockCheckpoint{
  display: flex;
  margin: auto;
  padding: 10px;
}
.a{
  flex: 3;
  padding: 5px;
  text-align: left;
  font-size: 19px;
}
.b {
  flex: 2;
  font-size: 19px;
}
.MoreInfo{
  padding-bottom: 20px;
}
.image{
   width: 500px;
   padding-bottom: 20px;
}

#ContactsCheckpoints{
  text-align: left;
}
#title{
    text-align: center;
  }
#GoogleMap{
  width: 300px;
  height: 400px;
}

.TitleInfoCheckpoint{
  font-weight: bold;
  font-size: 28px;
  color: black;
  text-shadow: 2px 2px #FFBF00;
}
/*end of style for Checkpoints*/



/*style for checkpoint buttons and title */

#checkpointTitle{

text-align: right;
font-size: 18px;
}
#check{
  text-align: right;
}

#c {
  padding: 10px;
  margin-top: 10px;
  width: 5%;
  font-size: 13px;
}


/* style for adding checkpoint form */


/* adapted from   https://www.w3schools.com/css/css_form.asp */
input[type=text], select #inputcheck {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}

input[type=submit] #inputcheck {
 width: 100%;
 background-color: #4CAF50;
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 border-radius: 4px;
 cursor: pointer;


}

input[type=submit]:hover #inputcheck {
 background-color: #45a049;
}



#addCheckTitle{
 text-align: center;
}

#formForCheckpoints{
text-align: center;
border: solid black;
width: 50%;
margin: 0 auto;
padding-bottom: 10px;
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}

#message {
 text-align: center;
 font-size: 20px;
}
#addingcheckpoints{
  background-color: #50C878;
  padding: 5px;
}

/*See checkpoint button */
#SeeCheckpoints{
  text-align: center;
  padding-bottom: 20px;

}
.navbar {
           background-color: #006400;
}

{box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 450px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
#column1{
float: left;
 width: 33.33%;
 padding: 30px;
}
#column2{
float: left;
 width: 33.33%;
 padding: 30px;
}
#column3{
float: left;
 width: 33.33%;
 padding: 30px;
}
#imageone{
  border: 2px solid #000000;

}
#imagetwo{
  border: 2px solid #000000;
}
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  text-align: center;
  background-color: #023020;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}



.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
}
