* {
  box-sizing: border-box;

}

body {
  background-color: #f1f1f1;
  font-family: Arial;
  padding: 10px;
}

#FilterMenu{
  text-align: center;
}
/* Center website */
.main {
  max-width: 900px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
  font-family: Arial;
}

h2 {
  font-weight: bold;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn.active {
  background-color: #666;
   color: white;
}

.btn:hover {
  background-color: #ddd;
}


#button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left
}


#button1{
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  outline: inherit;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  width: 130px;
}

footer{
  background-color:#282828;
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-top: 15px;
}




/*Level Coastal Path*/
#box{
  display: flex;
}

#container{
  width: 90%;
  padding: 8px;
}

#ImageDemo{
  text-align: center;
  flex: 1;
  border-radius: 8px;
  padding: 10px;
  background-color: #D0D0D0;
}

#LandmarkImg{
  width: 200px;
  padding: 2.3px;
  border-radius: 8px;
}
.container1, .container2, .container3{
  display: flex;
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  }

.flexbox-text-1, .flexbox-text-2, .flexbox-text-3  {
  min-height: 100px;
  width: 400px;
  padding: 5px;
  margin: 5px;
}

#googleMap_hard,#googleMap_medium,#googleMap_easy{
    width: 404.7px;
    height: 350px;
    border-radius: 8px;
}
/* End Level Coastal Path*/


#ChosenRouteTitle{
  text-align: center;
}

#qrCodeFlex{
  display: flex;
}

#MapForC{
  margin-left: 50px;
}

/*Style forms*/
#BlockForm{
  display: flex;
  border-color: 2px solid black;
}

#CheckpointForm{
  flex:1;
  text-align: center;
}

#formForCheckpoints{
  border-color: 2px solid black;
}
/*End style forms*/
