* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: Arial;
  padding: 10px;
}

/* Center website */
.main {
  max-width: 900px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

h2 {
  font-family: sans-serif;
  font-weight: bold;
  color: black;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn.active {
  background-color: #666;
   color: white;
}

.btn:hover {
  background-color: #ddd;
}


#button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left
}


#ChosenRouteTitle{
  text-align: center;
}

#qrCodeFlex{
  display: flex;
}

#MapForC{
  margin-left: 50px;
}
#myBtnContainer{
  text-align: center;
}
