
body {
  background-color: #f1f1f1;
  font-family: Arial;
  padding: 10px;
}
#body {
  background-color: #f1f1f1;
  font-family: Arial;
  padding: 10px;
}


#FilterMenu{
  text-align: center;
}

/* Center website */
.main {
  max-width: 900px;
  margin: auto;
  background-color: #f1f1f1;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

h2 {
  font-size:10vw
  font-weight: bold;
  color: black;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
@media only screen and (min-width: 500px ){
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}
}
/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn.active {
  background-color: #666;
   color: white;
}

.btn:hover {
  background-color: #ddd;
}


#button{
  background: none;
  color: inherit;
  border: none;
  padding: 0px;;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left
}



#button1{
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  outline: inherit;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  width: 130px;
}

footer{
  background-color:#242424;
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-top: 15px;
}
.fa:hover {
    opacity: 0.7;
}

.fa {
  margin: 10px;
  padding: 10px;
  font-size: 33px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}


/*Level Coastal Path*/
#box{
  display: flex;
}

#container{
  width: 90%;
  padding: 8px;
}

#ImageDemo{
  text-align: center;
  flex: 1;
  border-radius: 8px;
  padding: 10px;
  background-color: #D0D0D0;
}

#LandmarkImg{
  width: 200px;
  padding: 2.3px;
  border-radius: 8px;
}
.container1, .container2, .container3{
  display: flex;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  }

.flexbox-text-1, .flexbox-text-2, .flexbox-text-3{
  min-height: 100px;
  width: 400px;
  padding: 5px;
  margin: 5px;

}
#googleMap_hard,#googleMap_medium,#googleMap_easy{
    width: 404.7px;
    height: 350px;
    border-radius: 8px;
}
/* End Level Coastal Path*/


#ChosenRouteTitle{
  text-align: center;
}

#qrCodeFlex{
  display: flex;
}

#MapForC{
  margin-left: 50px;

}

#myBtnContainer{
  text-align: center;
}


.points {
  margin-left: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #34A853;
  height: 250px;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  bottom:30%;

}

.rewards-icon {
  font-size: 50px;
  height: 70px;
  width: 70px;
}

.message {
  height: 36px;
  padding: 0px 10px;
  line-height: 36px;
  color: white;
  font-size: 30px;

}

.accept {
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  background: #616B75;
}

.accept:hover {
  background: #EA4335;
}

#logo{
  width: 138px;
}

#TitleLevel{
  padding: 20px;
  text-align: center;
}
/*events*/

.event-container {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.event-container .event {
  box-shadow: 0 4px 16px -8px ;
  display: flex;
  border-radius: 8px;
  margin: 32px 0;
}

.event .event-left {
  background: #222;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}

.event .event-left .date {
  font-size: 15px;
}

.event-right{
  padding: 10px;
  margin: 10px;
}

/*Style for dropdown info.html*/
.dropbtn {
  border: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 15px;
  text-align: center;
  padding: 10px;
}
.show {display:block;}

#TitleCheckpoint{
  display: flex;

}

#BlockCheckpoint{
  display: flex;
  padding: 20px;
}

#BlockCheckpoint2{
  padding-top: 20px;
  margin-top: 300px;
}

#ImgCheckpoints{
  width: 500px;
  border-radius:10px;
}

#BlockHF,#BlockW,#BlockM{
  border-radius: 10px;
  background-color: #2A2A2A;
  padding: 12px;
  text-align: center;
}

#B{
  padding: 13px;
}

#Home{
  width: 37px;
  height: 37px;
  margin-left: 1170px;
}
#allbtns{
  text-align: center;
}

#adminbtns{
  display: inline-block;
}


/*form{
			width: 600px;
			margin: 200px auto;
		}
		div{
			width: 100%;
			margin: 15px auto;
		}
		label{
			display: block;
			padding: 20px;
			font-size: 25px;
		}
		input{
			width: 96%;
			padding: 10px;
			border: 1px solid #797979;
			margin-left: 20px;
			font-size: 20px;
			border-radius: 3px;
		}
		button{
			margin: 20px;
		    padding: 10px;
		    width: 100px;
		    border: none;
		    outline: none;
		    cursor: pointer;
		    border-radius: 5px;
		    background: linear-gradient(90deg, royalblue, lightgreen);
		    font-size: 20px;
		    font-weight: bold;
		    color: whitesmoke;
		}
		span{
			display: block;
		    margin-left: 20px;
		    color: red;
		    font-style: italic;
		}*/
		/*styleforinfoonhome inspired by code pen*/

		@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);

		.team-title {
		   font-family: "Josefin Sans", sans-serif;
		  font-size:24px;
		  text-align: center;
		  color:##7cb342;
		  border:4px solid #7cb342;
		  border-top-width:0px;
		  border-left-width:0px;
		  border-right-width:0px;

		}
		.card-base {
		  text-align: center;
		  width: 100%;
		  font-family: "Josefin Sans", sans-serif;
		}

		.card-base img {
		  z-index: 2;
		  display: block;
		  position: relative;
		  width: 100px;
		  height: 100px;
		  border-radius: 50%;
		  -webkit-border-radius: 50%;
		  -moz-border-radius: 50%;
		  border: 0.3125rem solid #fff;
		  -webkit-box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.36);
		  -moz-box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.36);
		  box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.36);
		  margin: 0 auto;
		  color: white;
		}
		.card-title {
		  min-height: 20px !important;
		  margin-top: -0px;
		  background: #7cb342;
		  border: 1px solid #e0e0e0;
		  padding: 5px 5px 5px 5px;
		  border-radius: 10px 10px 0px 0px;
		  -webkit-border-radius: 10px 10px 0px 0px;
		  -moz-border-radius: 10px 10px 0px 0px;
		  color: white;
		}
		.card-base > .card-data {
		  min-height: 250px !important;
		  margin-top: -24px;
		  background: ghostwhite;
		  border: 1px solid #black;
		  padding: 2px 2px 2px 2px;
		  border-radius: 1rem;
		  -webkit-border-radius: 1rem;
		  -moz-border-radius: 1rem;
		  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
		    0 2px 10px 0 rgba(0, 0, 0, 0.12);
		}
		@media only screen and (max-width 600px) and (min-width 200px) {
		  /* For mobile phones: */
		  .card-base, .card-title, .card-base, .team-title, .card-data{
		    width: 100%;
		  }
		}
		/*style for carousel*/
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
		#wrapper{
		  margin: 0;
		  padding: 0;
		  box-sizing: border-box;
		  font-family: 'Poppins', sans-serif;
		}
		#{
		  display: flex;
		  padding: 0 35px;
		  min-height: 100vh;
		  align-items: center;
		  justify-content: center;

		}

		.wrapper i{
		  top: 50%;
		  height: 44px;
		  width: 44px;
		  color: #343F4F;
		  cursor: pointer;
		  font-size: 1.15rem;
		  position: absolute;
		  text-align: center;
		  line-height: 44px;
		  background: #fff;
		  border-radius: 50%;
		  transform: translateY(-50%);
		  transition: transform 0.1s linear;
		}
		.wrapper i:active{
		  transform: translateY(-50%) scale(0.9);
		}
		.wrapper i:hover{
		  background: #f2f2f2;
		}
		.wrapper i:first-child{
		  left: -22px;
		  display: none;
		}
		.wrapper i:last-child{
		  right: -22px;
		}
		.wrapper .carousel{
		  font-size: 0px;
		  cursor: pointer;
		  overflow: hidden;
		  white-space: nowrap;
		  scroll-behavior: smooth;
		}
		.carousel.dragging{
		  cursor: grab;
		  scroll-behavior: auto;
		}
		.carousel.dragging img{
		  pointer-events: none;
		}
		.carousel img{
		  height: 340px;
		  object-fit: cover;
		  user-select: none;
		  margin-left: 14px;
		  width: calc(100% / 3);
		}
		.carousel img:first-child{
		  margin-left: 0px;
		}
		@media screen and (max-width: 900px) {
		  .carousel img{
		    width: calc(100% / 2);
		  }
		}
		@media screen and (max-width: 550px) {
		  .carousel img{
		    width: 100%;
		  }


		}
		@media (max-width: 800px) {
		   .BlockCheckpoint{

		  }
		}
		@media screen and (min-width: 100px) and (max-width: 300px) {
			.MapForC{
				position: relative;
			  overflow: hidden;
			  padding-top: 56.25%;
			}

		.googleMap_coastal{
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				height: 100%;
				border: none;
				width: 300px;

		}
		}
		.year{
			text-align: center;
		}
