
html {
  font-family: Helvetica;
}

/*Styling for the GoldcliffSeaWall page*/
body {
  background-color: #f6f6f6
}

#containerC{
  display: flex;
  padding: 5px;
}
#a {
  flex: 4;
  color: white;
  background-color: #2c2f33;
  text-align: center;
}

.InfoC{
  padding: 10px;
  style: none;
  width: 800px;
  font-size: 20px;
  line-height: 30px;
  padding: 20px;
  margin-left: 20px;
}
.FactsC{
  width: 800px;
  font-size: 20px;
  line-height: 30px;
  padding: 20px;
  margin-left: 20px;
}
#b {
  flex: 1;
  height: 1075px;
  text-align: center;
}
#A-image,#B-image,#D-image,#image1,#image2{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5px;
  border-radius: 5px
}

#C-image{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
}

/* Container holding the image and the text */

.ContainerImage {
  position: relative;
  text-align: center;
  color: #2c2f33;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 2px 2px white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
