<!doctype html>
<html>
<body>
<head>
  <title></title>
  <link href="/static/simplecss.css" rel="stylesheet">
</head>
{%extends'Home.html'%}

    <h2>{% block titleBlock%} {%endblock%}</h2>


        {% block mainBlock%}

<div id="formForCheckpoints">
  <h2> Add checkpoint </h2>
  <form id='addCheckForm' onsubmit="return loadCheck()">
    <label>Name:<br>
    <input  id="inputcheck" type="text" name ="name"><br>
    <label>Link for Picture:<br>
    <input  id="inputcheck" type="text" name ="picture"><br>
    <label>Facts:<br>
    <input  id="inputcheck" type="text" name ="facts"><br>
    <label>Contacts:<br>
    <input  id="inputcheck" type="text" name ="contacts"><br><br>
    <button id="addingcheckpoints" type = "submit"> Add Checkpoint </button>
  </form>
  <span id= "message"></span>
</div>
























        {%endblock%}



    {% block javascriptBlock%}
    <script>
    function loadCheck() {
      var name = document.forms["addCheckForm"]["name"].value;
      var picture = document.forms["addCheckForm"]["picture"].value;
      var facts = document.forms["addCheckForm"]["facts"].value;
      var contacts = document.forms["addCheckForm"]["contacts"].value;
      params = 'name='+name+'&picture='+picture+'&facts='+facts+'&contacts='+contacts;
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", '/AddCheckpoints', true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.onload = function() {
    if (xhttp.readyState === 4 && xhttp.status === 200) {
      console.log(xhttp.responseText);
      document.getElementById("message").innerHTML = xhttp.responseText;
    } else {
      console.error(xhttp.statusText);
    }
  };
  xhttp.send(params);
  return false;
}








</script>
    {%endblock%}
  </body>
