<!doctype html>
<html>
<body>
<head>
  <title></title>
  <link href="/static/simplecss.css" rel="stylesheet">
</head>
{%extends'Home.html'%}

    <h2>{% block titleBlock%} {%endblock%}</h2>

<!-- html for all the forms on admin page-->
        {% block mainBlock%}

        <div  id="adminpp">
                <h2><center>Welcome Admin</center></h2>
                <img  src="https://static.vecteezy.com/system/resources/previews/002/002/300/non_2x/beautiful-woman-avatar-character-icon-free-vector.jpg" height="100px" width="auto" >
        </div>

        <div id ="alladminbtns">
        <div id="adminbtns">
        <a  id="seecheck-btn" href="/AllCheckpoints" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> See All Checkpoints</a>
        </div>
        <br>
        <div = "adminbtns">
        <a id="seecomments-btn" href="/AllComments" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> See all Comments</a>
      </div>
        <br>
        <div id="adminbtns">
        <a  id="addcheck-btn" href="/AddCheckpoints" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> Add a Checkpoint</a>
        </div>
          <br>
        <div id="adminbtns">
        <a  id="addroute-btn" href="/AddRoutes" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> Add a Route</a>
        </div>
          <br>
        <div id="adminbtns">
        <a id="addevent-btn" href="/AddEvents" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> Add a events</a>
      </div>
    </div>
</div>
{%endblock%}
