<!doctype html>
<html>
<body>
<head>
  <title></title>
  <link href="/static/simplecss.css" rel="stylesheet">
</head>
{%extends'Home.html'%}

    <h2>{% block titleBlock%} {%endblock%}</h2>


        {% block mainBlock%}
        <div id ="alladminbtns">
        <div id="adminbtns">
        <a  id="seecheck-btn" href="/AllCheckpoints" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> See All Checkpoints</a>
        </div>
        <div id="adminbtns">
        <a  id="addcheck-btn" href="/AddCheckpoints" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> Add a Checkpoint</a>
        </div>
        <div id="adminbtns">
        <a  id="addroute-btn" href="/AddRoutes" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> Add a Route</a>
        </div>
        <div id="adminbtns">
        <a id="addevent-btn" href="/AddEvents" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> Add a events</a>
      </div>
    </div>


{%endblock%}
