<!doctype html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=5.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
  {%extends'Home.html'%}
  <title></title>
  <link href="static/style.css" rel="stylesheet">
</head>

<body>


<header>
  <h2>{% block titleBlock%}  {%endblock%}</h2>
</header>
  <div class="main">
    <main>
      <p>
        {%if msg%}
        {{msg}}
        {%endif%}
      </p>

{% block mainBlock%}
        <!--adapted from w3schools-->
        <br>
<div id="FilterMenu">
  <h2>Routes</h2>
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('nature')"> Nature Walks</button>
    <button class="btn" onclick="filterSelection('city')"> City Walks</button>
    <button class="btn" onclick="filterSelection('SpecialNeeds')">Disability Friendly</button>
  </div>
</div>
<br>
        <!-- Portfolio Gallery Grid -->
        <div class="row">

          {% for row in naturewalksdata %}
          <div class="column nature">
            <button id="button" type="button" onclick="window.location.href='/LevelCoastalPath';">
            <div class="content">
              <img class="image" src="{{row[0]}}" style="width:100%">
              <h4>{{row[1]}}</h4>
              <p>{{row[2]}}</p>
            </div>
            </button>
          </div>
          {% endfor %}

          {% for row in citywalksdata%}
          <div class="column city">
            <div class="content">
              <img src="{{row[0]}}" style="width:100%">
              <h4>{{row[1]}}</h4>
              <p>{{row[2]}}</p>
            </div>
          </div>
          {% endfor %}

          {% for row in disabilitydata%}
        <div class="column SpecialNeeds">
          <div class="content">
            <img src="{{row[0]}}" style="width:100%">
            <h4>{{row[1]}}</h4>
            <p>{{row[2]}}</p>
          </div>
        </div>
          {% endfor %}





        <!-- END GRID -->
        </div>

        <!--Adapted from w3schools-->
        <script type="text/javascript">
          filterSelection("all") // Execute the function and show all columns
        function filterSelection(c) {
          var x, i;
          x = document.getElementsByClassName("column");
          if (c == "all") c = "";
          // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
          for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
          }
        }

        // Show filtered elements
        function w3AddClass(element, name) {
          var i, arr1, arr2;
          arr1 = element.className.split(" ");
          arr2 = name.split(" ");
          for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
              element.className += " " + arr2[i];
            }
          }
        }

        // Hide elements that are not selected
        function w3RemoveClass(element, name) {
          var i, arr1, arr2;
          arr1 = element.className.split(" ");
          arr2 = name.split(" ");
          for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
              arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
          }
          element.className = arr1.join(" ");
        }

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
          btns[i].addEventListener("click", function(){
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
          });
        }
        </script>

  {%endblock%}

    </main>
  </div>

  <footer>
  </footer>

</body>
