<!DOCTYPE html>
{%extends'Home.html'%}
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">

    <title>Submit your comments</title>

    <link href="/static/style.css" rel="stylesheet">

  </head>

  <body>
{% block titleBlock%}{%endblock%}
    <div class="mainAndAside">
      <main>
<!-- comments form -->
  {% block mainBlock%}
<div id="Comments" style = "text-align: center">
    <h1> Submit your comments</h1>
  <h3> Enter any comments and/or concerns you have on your walk down here <h3>
  <form id="Commentssubmission" action="/Commentssubmission" method="POST">
  <br>
  <label for="NameOfRoute">Name of route:</label>
  <br>
  <input type="text" name="NameOfRoute" id="NameOfRoute" maxlength="20">
  <br>
  <label for="name of location">Name of location:</label><br>
  <input type="text" name="NameOfLocation" id="NameOfLocation" maxlength="20">
  <br>
  <label for="Comment">Comment:</label><br>
  <input type="text" name="Comment" id="Comment" maxlength="300" style="height:200px; width:400px;">
  <br><br>
  <button type="submit" onclick="submission()" onclick="validate()">Submit</button><br>

  </form>
  <span id= "message"></span>
</div>
      {%endblock%}
</main>

<style>
  .hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
</style>

<!-- validation for comments form-->
{% block javascriptBlock%}
<script>
function validate(){
  var pass = true;
  var text = document.forms["Commentssubmission"]["Comment"].value;
  if (text.length > 300){pass=false; }
  if (!pass){alert("your character limit has been reached")}
  return pass;
}

function submission() {
  var comment = document.forms["Commentssubmission"]["Comment"].value;
  var nameOfRoute = document.forms["Commentssubmission"]["NameOfRoute"].value;
  var nameOfLocation = document.forms["Commentssubmission"]["NameOfLocation"].value;
  params = 'comment='+comment+'&nameOfRoute='+nameOfRoute+'&nameOfLocation='+nameOfLocation;

  var xhttp = new XMLHttpRequest();
    xhttp.open("POST",'Comment', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function(){
      if(xhttp.readyState === 4 && xhttp.status === 300) {
        console.log(xhttp.responseText);
        document.getElementById("message").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

</script>

  {%endblock%}
  </body>
</html>
