<!doctype html>
<html>
<body>
<head>
  <title></title>
  <link href="/static/style.css" rel="stylesheet">
</head>
{%extends'Home.html'%}

    <h2>{% block titleBlock%} {%endblock%}</h2>


        {% block mainBlock%}


<header>
  <h1 class="text-center">The Festive 5k</h1>
  <h2>On December 26th<h2>
  <h3 class="text-center"> The Walk Covers : Friars walk, Tredeger House and ends right back at Friars Walk</h3>
</header>

<!-- SERVICES section -->
<section class="services">
  <div class="container">
    <div class="row">
      <h2 class="text-center">What we can do for you</h2>
      <div class="col-sm-6 col-lg-3">
        <div class="services-info text-center">

          <i class="fa fa-bar-chart fa-4x"></i>
          <h4>Difficulty Level</h4>
          <p>The Festive 5k has a choose your own route difficulty as it covers 15 indiviual locations spanning Newport. Thefore you can choose to do 10 or 2.</p>
          <a href="#">Learn more</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="services-info text-center">
          <i class="fa fa-tachometer fa-4x"></i>
          <h4>Volume</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Nullam dictum felis eu pede mollis pretium.</p>
          <a href="#">Learn more</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="services-info text-center">
          <i class="fa fa-line-chart fa-4x"></i>
          <h4>What does it cost to join in?</h4>
          <p>Nothing - it's free! but please register before you first come along. Only ever register with parkrun once and don't forget to bring a scannable copy of your barcode (request a reminder). If you forget it, you won't get a time.</p>
          <a href="#">Learn more</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="services-info text-center">

         <iframe id="googleMap_coastal" src="https://www.google.com/maps/embed?pb=!1m40!1m12!1m3!1d39697.85079829358!2d-2.945432808084188!3d51.54777786385373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m25!3e2!4m5!1s0x4871eeca6e6b4463%3A0x6270b195437fd996!2sRedwick%2C%20Newport!3m2!1d51.5486329!2d-2.8588722!4m5!1s0x4871ef59d31ce16f%3A0xc7a92322c2501770!2sWhitson%2C%20Newport!3m2!1d51.5485799!2d-2.9008209999999996!4m5!1s0x4871e5f240aa56c9%3A0x76e8df6c5c6cd78e!2sGoldcliff%2C%20Newport!3m2!1d51.5433151!2d-2.9154731!4m5!1s0x4871e5ccf863c5bb%3A0xd497b7e2268011f6!2sRSPB%20Newport%20Wetlands%2C%20West%20Nash%20Road%2C%20Newport!3m2!1d51.5442454!2d-2.9613909!5e0!3m2!1sen!2suk!4v1669228386097!5m2!1sen!2suk" width="250px" height="250px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         <br> <a href="#">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}



</html>
