<!doctype html>
<html>
<head>
  <title>Goldcliff Sea Wall</title>
  <link href="/static/simplecss.css" rel="stylesheet">

</head>
{%extends'Home.html'%}
<body>
  <header>

    <h2>{% block titleBlock%} Checkpoint C {%endblock%}</h2>
  </header>

  <div class="mainAndAside">
    <main>
        <p>
          {%if msg%}
          {{msg}}
          {%endif%}
        </p>
          {% block mainBlock%}

          <section id = "containerC">
            <section id = "a">
              <p id = "titleC">Goldcliff Sea Wall and Priory</p>
              <section id = "C-data">
              {% for row in data %}
                <tr>
                    <div class = "InfoC">
                      <div class = "FactsC">
                        <td>{{row[3]}}</td><br>
                      </div>
                      
                        <h4>Wildlife to look for:</h4>
                        <ul>
                          <li>Dunlins</li>
                          <li>Ringed and Little Plover</li>
                          <li>Curlews</li>
                          <li>Various duck species</li>
                        </ul>
                    </div>
                  <td>{{row[4]}}</td>
                </tr>
              </section>
                  <td><img id = "C-image" src={{row[2]}} name="Goldcliff"></td>
            </section>


            {% endfor %}

            <section id = "b">
              <p>Other places you might want to visit!</p>
              <img id = "A-image"src="/static/LandmarkImg/Redwick.jpg">
              Redwick
              <img id = "B-image"src="/static/LandmarkImg/Whitson.jpg">
              Whitson
              <img id = "D-image"src="/static/LandmarkImg/TheWetlandsCentre.jpg">
              Wetlands Centre
              <img id = "D-image"src="/static/AdditionalImg/Img1.jpg">
              Transporter Bridge
              <img id = "D-image"src="/static/AdditionalImg/Img2.jpg">
              Newport Tower
            </section>


          </section>
        {%endblock%}

    </main>

  </div>

  <footer>
    even cooler footer stuff..............
  </footer>
</body>
