<!doctype html>
<html>
<head>
  <title id = "title">Newport Coastal Routes</title>
  <link href="/static/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  <header>
    <!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <img src="/static/LandmarkImg/mylogo.jpg" width="60" height="60" class="d-inline-block align-top" alt="">
  <a class="navbar-brand" href="/Home">Home</a>
  <a class="navbar-brand" href="/Choose your Routes">Choose your Routes</a>
  <a class="navbar-brand" href="/Difficulty">Difficulty</a>
  <a class="navbar-brand" href="/Admin">Admin</a>
  </a>
</nav>
    {% block titleBlock%}<h2 id = "title">Newport Coastal Routes</h2>{%endblock%}

  </header>

  <div class="mainAndAside">
    <main>
      <p>
        {%if msg%}
        {{msg}}
        {%endif%}
      <p>
        {% block mainBlock%}
        <h3>Info about Route</h3>
        <p>The Wales Coast Path is 870 miles long. It begins at Chepstow on the banks of the Wye and finishes beside the River Dee a few miles from Cheshire.The Newport section of the path crosses the Caldicot and Wentloog Levels to meet the City of Newport. A distance of 23 miles/38km. The Gwent Levels are registered as a Landscape of Outstanding Historic Interest in Wales. <p>
        <h3>Heath and Fitness</h3>
        10
Reasons to walk...
1. Makes you feel good
2. Reduces stress
3. Helps you sleep better
4. Reduces risk of:-
• Heart disease
• Stroke
• High blood pressure
• Diabetes
• Arthritis
• Osteoporosis
• Certain cancers
and can help with their management
and recovery
5. Meet others and feel part of your community
6. See your local areaand discover new places
7. Kind to the environment
8. Can be done by almost anyone
9. No special equipment required
10. Its FREE, saving money on bus fares and petrol
        <h3>Tip and Tricks</h3>
        <h4>What to wear to a walk:</h4>
        <p>Comfortable and sensible footwear(no flip-flops or high heels),Water,Sturdy footwear/Hillwalking boots, Tell someone where you are going, Tell someone how long you will be, Remember to let them know when you return<p>
        {%endblock%}
    </main>
    <aside>
      {% block asideBlock%} {%endblock%}
    </aside>
  </div>

  <footer>
    <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title"> Our Contact Details</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="https://twitter.com/NewportCouncil?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" </a>
    </div>
  </div>
  </footer>
</body>
</html>
