<body>
<head>
    <link href="/static/style.css" rel="stylesheet">
  </head>


{%block mainBlock%}


{% for row in data %}


  <div id = "TitleCheckpoint">
    <img src="/static/LandmarkImg/Google-Map-Logo-Transparent.png" style="width: 150px">
    <h1>{{row[1]}}</h1>
    <button id = "button" type=button onclick="window.location.href='/Home';"">
    <img src="/static/LandmarkImg/Home.png" id = "Home"></img>
    </button>
  </div>

<div id="BlockCheckpoint">

<div id="B">
<div id = "BlockHF">
    <img src="/static/LandmarkImg/MapNewport.jpg" style="width: 335px">
<div id="HFCheckpoint">
    <div class="dropdown">
      <button id="HFbutton" class="dropbtn"><h2 style="color:white">Historic<br> Facts</h2></button>
      <div id="HistoricFacts" class="dropdown-content">
          {{row[3]}}
      </div>
    </div>
</div>
</div>
</div>


<div id="B">
<div id="BlockW">
  <img src="/static/LandmarkImg/Wildlife.jpg" style="width: 325px">
<div id= "WCheckpoint">
  <div class="dropdown">
    <button id="Wbutton" class="dropbtn"><h2 style="color:white">Wildlife</h2></button>
    <div id="Wildlife" class="dropdown-content">
        {{row[3]}}
    </div>
  </div>
</div>
</div>
</div>


<div id="B">
<div id="BlockM">
  <img src="/static/LandmarkImg/Rest.jpg" style="width: 300px">
<div id="MapCheckpoint">
    <button id = "button"type=button onclick="window.location.href='https://www.google.com/maps?ll=51.543082,-2.9164&z=17&t=h&hl=en&gl=GB&mapclient=embed&cid=14312818024152439300';""><h2 style="color:white">Places to take a break<br> near you</h2></button>
</div>
</div>
</div>
</div>

<div id="BlockCheckpoint2">

  <div id="BlockC">
  <div id="CCheckpoint">
    <div class="dropdown">
      <button id="Cbutton" class="dropbtn"><h2>Contacts</h2></button>
      <div id="Contacts" class="dropdown-content">
        {{row[4]}}
      </div>
    </div>
  </div>
  </div>
  </div>


<div id="ImgCheckpoint">
  <img class="image" src="{{row[2]}}">
</div>




  <div id="points" class ="points">
    <img class ="rewards-icon" src= "/static/Cookies/prize.png">
    <span class ="message"> Collect your 100 points.</span>
    <button class="accept" onclick="loadCookies()">Collect</button>
    <input type="text" id="noOfPoints" value="100"></input>
  </div>








</body>

  {% endfor %}
  {%endblock%}

  <!---  adapted from w3schools -->
    {% block javascriptBlock%}
  <script>
    function loadCookies() {
      var x = document.getElementById("points");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
      document.cookie = 100;
      writeValue();
    function writeValue (){
      document.getElementById('noOfPoints').value = document.cookie;
    }
    window.onload = function(){
      document.cookie = 100;
    }
    writeValue();
    }

    // Get the button, and when the user clicks on it, execute myFunction
  document.getElementById("HFbutton").onclick = function() {HistoricFacts()};
  document.getElementById("Wbutton").onclick = function() {Wildlife()};
  document.getElementById("Cbutton").onclick = function() {Contacts()};


/* myFunction toggles between adding and removing the show class, which is used to hide and show the dropdown content */
  function HistoricFacts() {
    document.getElementById("HistoricFacts").classList.toggle("show");
  }
  function Wildlife() {
    document.getElementById("Wildlife").classList.toggle("show");
  }
  function Contacts() {
    document.getElementById("Contacts").classList.toggle("show");
  }

</script>
{%endblock%}
