<!doctype html>
<html>
<head>
  <body>
  <title>Newport</title>
  <link href="static/style.css" rel="stylesheet">
</head>
  {%extends'Home.html'%}

  <header>

    {% block titleBlock%}{%endblock%}

  </header>
  <main>
  <div class="mainAndAside">

      <p>
        {%if msg%}
        {{msg}}
        {%endif%}
      <p>
        {% block mainBlock%}
<h2 id ="TitleLevel">Choose a path that suits you</h2>
        {% for row in data %}
        <br>
      <section id = "box">
      <div id = "container">
       <div class="container1">
       <div class="flexbox-map-1">
        <iframe id= "googleMap_easy" src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d39691.64490755491!2d-2.873471!3d51.55489!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x4871eed1cf38b5c5%3A0x64e130abcc5f88e4!2sRedwick%2C%20Caldicot!3m2!1d51.5527349!2d-2.8492979999999997!4m5!1s0x4871ef59d31ce16f%3A0xc7a92322c2501770!2sWhitson%2C%20Newport!3m2!1d51.5485799!2d-2.9008209999999996!5e0!3m2!1sen!2suk!4v1670367292123!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       </div>
       <div class="flexbox-text-1">
         <h3>Recomended for Families</h3><br>
         - You will visit: Redwick and Whitson
         <br><br>
         The coast path runs adjacent to the Severn
         Estuary for a distance of approximately 6.3 miles
         which is generally flat. The majority of this
         section of path has been established on top
         of the sea defence, allowing easy walking and
         rewarding walkers with striking views over the
         estuary and the historic Gwent Levels landscape.
         Much of the coast path and many link paths
         around the reserve have been surfaced allowing
         access for less able users.
         <br><br>
          <button type="button" id = "button1" href="/#">Choose this path</button>
       </div>
       </div>

       <br>

       <div class="container2">
       <div class="flexbox-map-2">
         <iframe id="googleMap_medium" src="https://www.google.com/maps/embed?pb=!1m34!1m12!1m3!1d15739.585442966294!2d-2.899862707472265!3d51.547755084705685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m19!3e2!4m5!1s0x4871eed1cf38b5c5%3A0x64e130abcc5f88e4!2sRedwick%2C%20Caldicot!3m2!1d51.5527349!2d-2.8492979999999997!4m5!1s0x4871ef59d31ce16f%3A0xc7a92322c2501770!2sWhitson%2C%20Newport!3m2!1d51.5485799!2d-2.9008209999999996!4m5!1s0x4871e5f240aa56c9%3A0x76e8df6c5c6cd78e!2sGoldcliff%2C%20Newport%2C%20Newport!3m2!1d51.5433151!2d-2.9154731!5e1!3m2!1sen!2suk!4v1670361161244!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       </div>
       <div class="flexbox-text-2">
         <h3>Recomended for Aspiring Walkers</h3><br>
         - You will visit: Redwick, Whitson and, Goldcliff SeaWall and Priory
         <br><br>
         The coast path runs adjacent to the Severn
         Estuary for a distance of approximately 6.3 miles
         which is generally flat. The majority of this
         section of path has been established on top
         of the sea defence, allowing easy walking and
         rewarding walkers with striking views over the
         estuary and the historic Gwent Levels landscape.
         Much of the coast path and many link paths
         around the reserve have been surfaced allowing
         access for less able users.
         <br>
         <button type="button" id = "button1" href="/#">Choose this path</button>
       </div>
       </div>

       <br>
       <div class="container3">
       <div class="flexbox-map-3">
         <iframe id="googleMap_hard" src="https://www.google.com/maps/embed?pb=!1m40!1m12!1m3!1d31479.15512520936!2d-2.9406132580842033!3d51.54777786385373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m25!3e2!4m5!1s0x4871eed1cf38b5c5%3A0x64e130abcc5f88e4!2sRedwick%2C%20Caldicot!3m2!1d51.5527349!2d-2.8492979999999997!4m5!1s0x4871ef59d31ce16f%3A0xc7a92322c2501770!2sWhitson%2C%20Newport!3m2!1d51.5485799!2d-2.9008209999999996!4m5!1s0x4871e5f240aa56c9%3A0x76e8df6c5c6cd78e!2sGoldcliff%2C%20Newport!3m2!1d51.5433151!2d-2.9154731!4m5!1s0x4871e5ccf863c5bb%3A0xd497b7e2268011f6!2sRSPB%20Newport%20Wetlands%2C%20West%20Nash%20Road%2C%20Newport!3m2!1d51.5442454!2d-2.9613909!5e1!3m2!1sen!2suk!4v1670361262829!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       </div>
       <div class="flexbox-text-2">
         <h3>{{row[0]}}</h3><br>
         {{row[1]}}
        <br><br>
         {{row[2]}}
         <br>
         <button type="button" id = "button1"onclick="window.location.href='/Location';">Choose this path</button>
       </div>
       </div>
       </div>

       {% endfor %}
      <div id = "ImageDemo">
        <img id = "LandmarkImg" src="static/Routes/Coalstal.jpg">
        <img id = "LandmarkImg" src="static/LandmarkImg/Redwick.jpg">
        <img id = "LandmarkImg" src="static/Routes/Coast.jpg">
        <img id = "LandmarkImg" src="static/LandmarkImg/Whitson.jpg">
        <img id = "LandmarkImg" src="static/Routes/Coast2.jpg">
        <img id = "LandmarkImg" src="static/LandmarkImg/GoldcliffSeaWall.jpg">
        <img id = "LandmarkImg" src="static/Routes/Coast4.jpg">
        <img id = "LandmarkImg" src="static/LandmarkImg/TheWetlandsCentre.jpg">
      </div>
    </section>
      </div>
    </main>
{%endblock%}


  <footer>
  </footer>
  </body>
