<!doctype html>
<html>
<head>
  <title>Newport</title>
  <link href="static/style.css" rel="stylesheet">
</head>
  {%extends'Home.html'%}
<body>
  <header>

    {% block titleBlock%}{%endblock%}

  </header>
  <main>
  <div class="mainAndAside">

      <p>
        {%if msg%}
        {{msg}}
        {%endif%}
      <p>
        {% block mainBlock%}
<h2 id ="TitleLevel">Choose a path that suits you</h2>
        {% for row in data %}
        <br>
    <section id = "box">
      <div id = "container">
       <div class="container1">
       <div class="flexbox-map-1">
        <iframe id= "googleMap_easy" src={{row[4]}} width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       </div>
       <div class="flexbox-text-1">
         <h3>{{row[0]}}</h3><br>
         {{row[1]}}
         <br><br>
         {{[row[2]]}}
         <br><br>
          <button type="button" id = "button1"onclick="window.location.href='/Location';">Choose this path</button>
       </div>
       </div>
     </div>
       {% endfor %}
      <div id = "ImageDemo">
        <img id = "LandmarkImg" src="static/Routes/Coalstal.jpg">
        <img id = "LandmarkImg" src="static/LandmarkImg/Redwick.jpg">
        <img id = "LandmarkImg" src="static/Routes/Coast.jpg">
        <img id = "LandmarkImg" src="static/LandmarkImg/Whitson.jpg">
        <img id = "LandmarkImg" src="static/Routes/Coast2.jpg">
        <img id = "LandmarkImg" src="static/LandmarkImg/GoldcliffSeaWall.jpg">
        <img id = "LandmarkImg" src="static/Routes/Coast4.jpg">
        <img id = "LandmarkImg" src="static/LandmarkImg/TheWetlandsCentre.jpg">
      </div>
    </section>
    
{%endblock%}
</div>
</main>

  <footer>
  </footer>
  </body>
