{%extends'Home.html'%}


{% block titleBlock %} {%endblock%}

<div class="mainAndAside">
  <main>
      {% block mainBlock %}
        <script src="../static/html5-qrcode.min.js"></script>
        <h2> Scan  the QR code at each checkpoint</h2>
      <div id="qrCodeFlex">
      <body onload= "qrScanner()">
        <div style="width:100%; length:100%" id = "reader"></div>
        <div id="MapForC">
        <iframe id="googleMap_coastal" src="https://www.google.com/maps/embed?pb=!1m40!1m12!1m3!1d39697.85079829358!2d-2.945432808084188!3d51.54777786385373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m25!3e2!4m5!1s0x4871eeca6e6b4463%3A0x6270b195437fd996!2sRedwick%2C%20Newport!3m2!1d51.5486329!2d-2.8588722!4m5!1s0x4871ef59d31ce16f%3A0xc7a92322c2501770!2sWhitson%2C%20Newport!3m2!1d51.5485799!2d-2.9008209999999996!4m5!1s0x4871e5f240aa56c9%3A0x76e8df6c5c6cd78e!2sGoldcliff%2C%20Newport!3m2!1d51.5433151!2d-2.9154731!4m5!1s0x4871e5ccf863c5bb%3A0xd497b7e2268011f6!2sRSPB%20Newport%20Wetlands%2C%20West%20Nash%20Road%2C%20Newport!3m2!1d51.5442454!2d-2.9613909!5e0!3m2!1sen!2suk!4v1669228386097!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
</body>
</div>
      {%endblock%}
</main>
</div>



{% block javascriptBlock%}
<!--addapted from w3schools and colleague Cole Pearson -->
<script>
function qrScanner(){
  function onScanSuccess(decodedText, decodedResult){ //adapted from https://blog.minhazav.dev/research/html5-qrcode
    console.log("Scan result: ${decodedText}", decodedResult);
    window.open(decodedText);  //opens a new tab with the URL
  }
  var qrScanner = new Html5QrcodeScanner(
    "reader", { fps: 10, qrbox: 250 }); //inserts the scanner in div in scanner.html with the id "reader"
  qrScanner.render(onScanSuccess);
}
</script>

{%endblock%}
