
<!doctype html>
<html>
<head>
  <title></title>
  <link href="/static/simplecss.css" rel="stylesheet">
</head>
{%extends'Home.html'%}

    <h2>{% block titleBlock%} {%endblock%}</h2>



        {% block mainBlock%}

        <link href="style.css" rel="stylesheet">

          <title>Login</title>
          <link href="login.css" rel="stylesheet">
        <head>

        <body class="text-center" id="form">
          <main class="form-signin">
            <form onsubmit="return login()">
              <img class="mb-4" src="./logo.png" alt="" height="300">
              <h1 class="h3 mb-3 fw-normal">Login</h1>

              <div class="form-floating">
                <input type="email" class="form-control" id="username" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>

              <a role="button" id="loginbutton" class="btn btn-success btn-lg" href="/Admin">Login</a>




</body>

</html>

        {%endblock%}
