
<!doctype html>
<html>
<head>
  <title></title>
  <link href="/static/simplecss.css" rel="stylesheet">
</head>
{%extends'Home.html'%}

    <h2>{% block titleBlock%} {%endblock%}</h2>



        {% block mainBlock%}

        <link href="style.css" rel="stylesheet">

          <title>Login</title>
          <link href="login.css" rel="stylesheet">
        <head>

        <body class="text-center" id="form">
        <form method="post" onsubmit="return validate()" name = "Login">
          <main class="form-signin">
            <form onsubmit="return login()">
              <img class="mb-4" src="./logo.png" alt="" height="300">
              <h1 class="h3 mb-3 fw-normal">Login</h1>

              <div class="form-floating">
                <input type="email" class="form-control" id="username" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>

              <a role="button" id="loginbutton" class="btn btn-success btn-lg" href="/Admin">Login</a>


<form id="registrationForm">
<input>
    name="userName"
    data-fv-not-empty="true"
    data-fv-not-empty___message="The username is required"
    data-fv-string-length="true"
    data-fv-string-length___min="6"
    data-fv-string-length___message="The name must be more than 6 characters long"
</input>
</form>



</body>

</html>


        {%endblock%}
