
<!doctype html>
<html>
<head>
  <title></title>
  <link href="/static/simplecss.css" rel="stylesheet">
</head>
{%extends'Home.html'%}

    <h2>{% block titleBlock%} {%endblock%}</h2>



        {% block mainBlock%}
        <!--
          Added onsubmit attribute to form so that it will trigger the JS function (authenticate).
          if the function returns false it will prevent the form from submitting
      -->
      <!--adaped from stackoverflow-->
      <form action="/Admin" onsubmit="return authenticate()">
        <p><center>Please Login Here:</center></p>
          <img src="https://static.vecteezy.com/system/resources/previews/002/002/300/non_2x/beautiful-woman-avatar-character-icon-free-vector.jpg" height="100px" width="auto" text-align="center" >

          <label for="username">Username</label>
            <!-- added IDs to the inputs -->
            <input
              id="username"
              type="text"
              placeholder="Enter Username"
              name="username"
              required
            />
            <label for="password">Password</label>
            <input
              id="password"
              type="password"
              placeholder="Enter Password"
              name="password"
              required
            />
            <button type="submit class="btn btn-success"  onclick="return authenticate()>Submit</button>
          </form>




 {%endblock%}
 
 
      {% block javascriptBlock%}   
<script>

//Following function gets values of the username and password fields and checks to see if they match a hard coded username and password
  function authenticate(){
    var authorised;

    //get input values
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;

    //check to see if the password and username match
    if(username == "abcd" && password == "pass12345"){
      authorised = true;
    }else{ // username or password do not match
      authorised = false;
      //alert user
      alert("Sorry, password is incorrect.");
    }
    //return result
    return authorised;
  }
</script>
</html>

        {%endblock%}
