<!doctype html>
<html>
<head>
  <title>Page3</title>
  <link href="/static/simplecss.css" rel="stylesheet">
</head>
{%extends'Home.html'%}
<body>
  <header>

    <h2>{% block titleBlock%} Page 3{%endblock%}</h2>
  </header>

  <div class="mainAndAside">
    <main>
    
        {% block mainBlock%}
        <ul>
          <li> <button>Checkpoint A </button></li>
          <li> <button>Checkpoint B </button></li>
          <li> <button> Checkpoint C</button></li>
          <li> <button>Checkpoint D </button></li>
        {%endblock%}
    </main>

  </div>

  <footer>

  </footer>
</body>
