<!doctype html>
<html>
<head>
  <title>Page3</title>
  <link href="/static/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
{%extends'Home.html'%}
<body>
  <header>

  </header>

<h1 class="titlep3">{% block titleBlock%} Route for Newport Coast{%endblock%}</h1>
  <div class="mainAndAside">
    <main>

        {% block mainBlock%}
<div class="LinkstoCheckpoints">
  <ul>
 <li><a class="btn btn-danger" href="/" role="button">CheckpointA </a></li>
 <li><a class="btn btn-danger" href="/Whitson" role="button">CheckpointB </a></li>
 <li><a class="btn btn-danger" href="/" role="button">CheckpointC </a></li>
 <li><a class="btn btn-danger" href="/" role="button">CheckpointD </a></li>

 <ul>
</div>

        {%endblock%}
    </main>

  </div>

  <footer>

  </footer>

</body>
